@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,300;0,400;1,200&display=swap');

html {
    --reserviablue: #0065FC ;
    --reservialightblue: #DEEBFF ;
    --reserviagrey: #F2F2F2 ;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
}

*:visited {
    color: black;
}

header {
    display: flex;
    height: 100px;
}

#logo {
    margin: 20px auto 20px 70px;
}

nav {
    display: flex;
    height: 100%;
    width: 450px;
    margin-left: auto;
}

.nav_theme {
    font-size: 17px;
    height: 100%;
    width: 150px;
    text-align: center;
    line-height: 100px;
    font-weight: bold;
    color : black;
}

.nav_theme:hover {
    color: var(--reserviablue);
    border-top: 2px solid var(--reserviablue); 
}

#signin {
    color : var(--reserviablue);
    font-weight: bolder;
}

.main_description {
    margin: 10px 70px;
}


#search_bar {
    margin : 20px 70px;
    display: flex;
    overflow: hidden;
    border: 1px solid var(--reserviagrey);
    height: 50px;
    width: 400px;
    border-radius: 20px;
}


#search_logo {
    height: 50px;
    width: 50px;
    border: none;
    background-color: var(--reserviagrey);
    color: rgb(77, 77, 77);
    vertical-align: middle;
    
}

#search_logo::before {
    position: absolute;
    margin-left: 17px;
    margin-top: 17px;
}

#search_input {
    height: 46px;
    width: 200px;
    border: none;
}

#search_btn {
    height: 46px;
    width: 150px;
    border: none;
    background-color: var(--reserviablue);
    color: white;
    font-size: 16px;
    font-weight: bolder;

}


#filter_bar {
    margin: 40px 70px;
    width: 1000px;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

#filter_description {
    align-self: center;
}

.filter {
    display: flex;
    align-items: center;
    border-radius: 25px;
    position: relative;
    border: 3px solid var(--reserviagrey);
    font-size: 15px;
}

.filter_title {
    padding: 10px 20px 10px 55px;
}

.filter_logo {
    background-color: var(--reservialightblue);
    border-radius: 25px;
    position: absolute;
    height: 50px;
    width: 50px;
    color: var(--reserviablue);
    left: -4px;
    top: -4px;
}

.filter_logo::before {
    position: absolute;
    margin: 17px 17px 17px 15px;
}




#hebergements_container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 1000px;
}

#hebergementstitle {
    width: 100%;
    position: relative;
    top: 20px;
    left: 20px;
    font-size: 22px;
    font-weight: bolder;
}

#hebergements_city {
    background-color: var(--reserviagrey);
    border-radius: 5%;
    margin : 20px 70px;
    display: flex;
    flex-wrap: wrap;
    width: 52%;
    height: 650px;
}

.hebergements {
    height: 200px;
    width: 300px;
    margin: 20px 10px;
    overflow: hidden;
    border: 4px solid white;
    border-radius: 10%;
    position: relative;
}

.hebergementsimg {
    height: 200px;
    width: 300px;
    size: cover;
}

.descriptionheb {
    background-color: white;
    width: 100%;
    height: 60px;
    position : absolute;
    bottom: 0;
}

#more {
    width: 100%;
    position: relative;
    font-weight: bolder;
    font-size: 18px;
    bottom: 20px;
    left : 30px;
}

.nameheb {
    margin-left : 15px;
    font-size: 16px;
    font-weight: bold;
    margin: 7px 0px 5px 15px ;
}

.price {
    margin-left: 15px;
    font-size: 13px;
}

#populartitle {
    width: 100%;
    position: relative;
    top: 20px;
    left: 20px;
    font-size: 22px;
    font-weight: bolder;
}

#popular_container {
    background-color: var(--reserviagrey);
    margin : 20px 70px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 25%;
    height: 650px;
    border-radius: 5%;
}

.popular {
    margin: auto;
    height: 150px;
    width: 350px;
    overflow: hidden;
    border: 4px solid white;
    border-radius: 10%;
    object-fit: contain;
    position: relative;
}

.popularimg {
    height: 150px;
    width: 350px;
    size: cover
}

.descriptionbest {
    background-color: white;
    width: 180px;
    height: 100%;
    position : absolute;
    bottom: 0;
    right: 0px;
}