@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

html {
    --reserviablue: #0065FC ;
    --reservialightblue: #DEEBFF ;
    --reserviagrey: #F2F2F2 ;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    list-style: none;
}

*:visited {
    color: black;
}




header {
    display: flex;
    height: 100px;
}

#headerLogo {
    margin: 20px auto 20px 70px;
}



#navBar {
    display: flex;
    height: 100%;
    width: 450px;
    margin-left: auto;
}

.navLinks {
    font-size: 17px;
    height: 100%;
    width: 150px;
    text-align: center;
    line-height: 100px;
    font-weight: bold;
    color : black;
}

.navLinks:hover {
    color: var(--reserviablue);
    border-top: 2px solid var(--reserviablue); 
}

#navSignin {
    color : var(--reserviablue);
    font-weight: bolder;
}



main {
    margin: 0px 70px
}

.mainTitle {
    font-size: 20px;
    font-weight: bold;
    width: 100%;
    margin: 15px 0px;
}

.mainDescription {
    font-size: 14px;
}





#searchBar {
    margin : 20px 0px;
    display: flex;
    overflow: hidden;
    border: 1px solid var(--reserviagrey);
    height: 50px;
    width: 400px;
    border-radius: 20px;
}


#searchLogo {
    height: 50px;
    width: 50px;
    border: none;
    background-color: var(--reserviagrey);
    color: rgb(77, 77, 77);
    vertical-align: middle;
    
}

#searchLogo::before {
    position: absolute;
    margin-left: 17px;
    margin-top: 17px;
}

#searchInput {
    height: 46px;
    width: 200px;
    border: none;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

#searchBtn {
    height: 46px;
    width: 150px;
    border: none;
    background-color: var(--reserviablue);
    color: white;
    font-size: 16px;
    font-weight: bolder;

}




#filterBar {
    margin: 40px 0px;
    width: 1000px;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

#filterDescription {
    align-self: center;
}

.filterLinks {
    display: flex;
    align-items: center;
    border-radius: 25px;
    position: relative;
    border: 3px solid var(--reserviagrey);
    font-size: 15px;
}

.filterTitle {
    padding: 10px 20px 10px 55px;
}

.filterLogo {
    background-color: var(--reservialightblue);
    border-radius: 25px;
    position: absolute;
    height: 50px;
    width: 50px;
    color: var(--reserviablue);
    left: -4px;
    top: -4px;
}

.filterLogo::before {
    position: absolute;
    margin: 17px 17px 17px 15px;
}





#infoLogo {
    color: var(--reserviablue);
    font-size: 15px;
    font-weight: bolder;
    border : 3px solid var(--reserviagrey);
    padding: 5px 8px;
    border-radius: 100%;
}




#hebergementBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: 650px;
    margin: 15px 0px;
}

#hebergementCity {
    background-color: var(--reserviagrey);
    border-radius: 5%;
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    height: 100%;
}

.hebergementLinks {
    height: 35%;
    width: 30%;
    margin: 20px 10px;
    overflow: hidden;
    border: 4px solid white;
    border-radius: 10%;
    position: relative;
}

.hebergementImg {
    height: 100%;
    width: 100%;
    size: cover;
}

.hebergementDescription {
    background-color: white;
    width: 100%;
    height: 60px;
    position : absolute;
    bottom: 0;
}


.placeTitle {
    margin-left : 15px;
    font-size: 16px;
    font-weight: bold;
    margin: 7px 0px 5px 15px ;
}

.placePrice {
    margin-left: 15px;
    font-size: 13px;
}




#popularCity {
    background-color: var(--reserviagrey);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 28%;
    height: 100%;
    border-radius: 5%;
}

.popularLinks {
    margin: auto;
    height: 25%;
    width: 80%;
    overflow: hidden;
    border: 4px solid white;
    border-radius: 10%;
    object-fit: contain;
    position: relative;
}

.popularImg {
    height: 100%;
    width: 50%;
    size: cover
}

.popularDescription {
    background-color: white;
    width: 50%;
    height: 100%;
    position : absolute;
    bottom: 0;
    right: 0px;
}




#activityCity { 
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: 600px;
}

.activityLinks{
    height: 46%;
    width: 23%;
    margin: 10px 0px;
    border-radius: 25px;
    overflow: hidden;
    position: relative;
}

.activityImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.activityTitle {
    position: absolute;
    background-color: white;
    width: 100%;
    height: 50px;
    bottom: 0;
    left: 0;
    padding: 15px;
}

.activityHeight{
    height: 100%;
}

footer {
    margin-top: 50px;
    background-color: var(--reserviagrey);
    width: 100%;
    height: 200px;
    display: flex;
}

.footerTheme {
    width: 25%;
    height: 80%;
    margin : 30px 60px;
}

.footerTitle {
    font-weight: 900;
    font-size: 18px;
    margin : 15px 0px;
}

li {
    margin-top: 5px;
    font-size: 15px;
}