@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Tout mettre à 0*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    list-style: none;
    background: none;
    border: none;
    color: black;
}

/* Tous les boutons ont l'effet cliquable lorsqu'on passe la souris dessus*/
button, li{
    cursor: pointer;
}

h1 {
    font-size: 23px;
}

h2 {
    font-size: 17px;
}

h3 {
    font-size: 18px;
}

.description {
    font-size: 14px;
    margin: 5px 0px;
}

/* ------------------------------------------------- HEADER -------------------------------------------------------*/
header {
    display: flex;
    max-width: 1900px;
    height: 100px;
    align-items: center;
}

/* Marge intérieure pour tout le site sauf le footer*/
main, header {
    padding: 0px 70px;
}

/* Taille du logo du Header */
#headerLogo {
    height: 45px;
    width: 97px;
    margin-right: auto;
}

/* Style du conteneur pour la barre de navigation*/
#navBar {
    display: flex;
    width: 300px;
    height: 100%;
}

/* Style des liens de navigations */
.navLinks {
    font-weight: 500;
    height: 100%;
    line-height: 100px;
    width: 50%;
    text-align: center;
}

/* Effets des liens de navigations au survol */
.navLinks:hover {
    color: #0065FC;
    border-top: 2px solid #0065FC; 
}

/* Style du lien pour l'inscription */
#navSignin {
    font-weight: bold;
    color: #0065FC;
    width: 100px;
    text-align: center;
}

/* ---------------------------------------------------------- MAIN ------------------------------------------------------------- */

/* ---------------------------- Barre de recherche ----------------------------- */
main {
    max-width: 1900px;
}

/* Style de la barre de recherche */
#searchBar {
    margin : 20px 0px;
    display: flex;
    overflow: hidden;
    border: 1px solid #F2F2F2;
    height: 50px;
    width: 400px;
    border-radius: 20px;
}

/* Style du SVG de la barre de recherche */
#searchLogo {
    height: 50px;
    width: 50px;
    border: none;
    background-color: #F2F2F2;
    color: rgb(77, 77, 77);
    vertical-align: middle;
    
}

/* Centrage du logo de la barre de recherche */
#searchLogo::before {
    position: absolute;
    margin-left: 17px;
    margin-top: 17px;
}
/* Style du champ de recherche */
#searchInput {
    height: 46px;
    width: 200px;
    border: none;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
}

/* Style du bouton de recherche */
#searchButton {
    height: 46px;
    width: 150px;
    background-color: #0065FC;
    color: white;
    font-size: 16px;
    font-weight: bolder;
}

/* Style du bouton avec l'icone loop */
#loopButton {
    display: none;
}
/* ---------------------------- Filtres ----------------------------- */

/* Style de la barre pour les filtres */
#filterBar {
    margin: 40px 0px;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

/* Style des boutons de filtrage */
.filterButton {
    margin: 5px 10px;
    display: flex;
    align-items: center;
    border-radius: 25px;
    position: relative;
    border: 3px solid #F2F2F2;
    font-size: 15px;
}


/* Marge sur les titres des boutons de filtrages */
.filterTitle {
    padding: 10px 20px 10px 55px;
    font-size: 18px;
    font-weight: bold;
}

/* Changement de couleur au survol des boutons de filtrages */
#economyButton:hover, #familyButton:hover ,#romanticButton:hover ,#animalButton:hover {
    background-color: #F2F2F2;
}

/* Style et positionnement des SVG des boutons de filtrages */
.filterLogo {
    background-color: #DEEBFF;
    border-radius: 25px;
    position: absolute;
    height: 50px;
    width: 50px;
    color: #0065FC;
    left: -4px;
    top: -4px;
}

/* Positionnement des SVG des boutons de filtrages */
.filterLogo::before {
    position: absolute;
    margin: 20px 0px 0px -10px;
}


/* Style du logo et de la description de l'information de la ville */
#infoLogo {
    color: #0065FC;
    font-size: 15px;
    font-weight: bolder;
    border : 2px solid #F2F2F2;
    padding: 5px 8px;
    border-radius: 100%;
    margin-right: 5px;
}

/* ---------------------------- DIV POUR HEBERGEMENTS ----------------------------- */

/* Style de la div des hébergement */
#hostingBox {
    margin: 20px 0px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

/* Style des notes des hébergements*/
.rateContainer {
    display: flex;
}

/* Effets ombre sur les liens */
.boxShadow {
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.377) ;
}

/* Couleur des étoiles */
.blueStar {
    color: #0065FC;
}
.greyStar {
    color: grey
}
/* Style de l'ancre et titre des hébergements */
#cityTitle {
    width: 100%;
    margin: 10px;
}

/*  Style des div des hébergements */
.containerStyle {
    display: flex;
    flex-wrap: wrap;
    border-radius: 25px;
    background-color: #F2F2F2;
}

/* Marge et taille de la div des plus populaires */
#popularCity {
    padding: 30px;
    width: 450px;
    height: 800px;
}

/* Marge et taille de la div des hébergements de la ville*/
#hostingCity {
    padding: 30px;
    width: 72.5%;
    height: 800px;
}

/* Style de tous les liens des hébergements */
.hostingBorderStyle {
    overflow: hidden;
    border: 4px solid white;
    border-radius: 20px;
    position: relative;
}

/* Marge et taille des liens des hébergements*/
.hostingLinks {
    height: 300px;
    width: 380px;
    margin: 10px;
}

/* Background et position des descriptions de tous les liens des hébergements*/
.descriptionBackground {
    position: absolute;
    background-color: white;
}

/* Positionnement et taille des descriptions des hébergements de la ville*/
.hostingDescriptionPos {
    width: 100%;
    bottom: 0;
    padding: 10px;
}

/* Taille des images des hébergements */
.hostingImg {
    height: 80%;
    width: 100%;
    object-fit: cover;
}

/* Style du bouton Afficher plus*/
#moreButton {
    margin: 10px;
    font-size: 18px;
    font-weight: bolder;
}

/* Style du titre des plus populaires */
#popularTitleBox {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

/* Taille de la div qui contient les liens des plus populaires*/
#popularLinksBox {
    height: 100%;
    width: 100%;
}

/* Style des liens des plus populaires*/
.popularLinks {
    display: flex;
    margin: 50px auto;
    height: 170px;
    width: 350px;
}

/* Taille des images des plus populaires */
.popularImg {
    height: 100%;
    width: 50%;
    object-fit: cover;
}

/* Taille et positionnement de la description des plus populaires */
.popularDescriptionPos {
    width: 60%;
    height: 100%;
    right: 0;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* --------------------- ACTIVITY ----------------------*/

/* Style de la div des activités */
#activityBox {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: 640px;
}

/*  Style de la div qui regroupes les liens des activités */
#activityCity {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: 600px;
    margin: 0;
}

/* Style des liens des activités */
.activityLinks {
    height: 48%;
    width: 420px;
    border-radius: 25px;
    overflow: hidden;
    position: relative;
}

/* Taille des activités mise en avant */
.activityFocus {
    height: 100%;
}

/* Positionnement de la description des activités */
.activityDescriptionPos {
    width: 100%;
    height: 60px;
    bottom: 0;
    padding: 15px 25px;
}

/* Taille des images des activités */
.activityImg {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* ---------------------------- FOOTER ----------------------------- */

/* Style du footer */
footer {
    margin-top: 50px;
    background-color: #F2F2F2;
    max-width: 1900px;
    height: auto;
    display: flex;
}

/* Style des divs du footer */
.footerTheme {
    width: 25%;
    height: 80%;
    margin : 30px 60px;
}

/* Marge au dessus des listes à puces */
ul {
    margin-top : 15px;
}

/* Style de la liste des thèmes du footer*/
li {
    margin-top: 5px;
    font-size: 15px;
}

li:hover {
    text-decoration: underline;
}

/*-----------------------------------------------------------------------*/

/* Version Laptop */

@media screen and (max-width: 1900px) {
    #hostingCity {
        width: 1175px;
    }
    .hostingLinks {
        height: 300px;
        width: 350px;
    }
    .activityLinks {
        width: 400px;
    }
}

@media screen and (max-width: 1800px) {
    #hostingCity {
        width: 1030px;
    }
    .hostingLinks {
        height: 250px;
        width: 300px;
    }
    .activityLinks {
        width: 360px;
    }
}

@media screen and (max-width: 1655px) {
    #hostingCity {
        width: 880px;
        height: 700px;
    }
    .hostingLinks {
        height: 250px;
        width: 250px;
    }
    #popularCity {
        height: 700px;
    }
    .popularLinks {
        margin: 25px auto;
    }
    .activityLinks {
        width: 330px;
    }
}

@media screen and (max-width: 1500px) {
    #hostingCity {
        width: 800px;
    }
    .hostingLinks {
        height: 225px;
        width: 225px;
    }
    .activityLinks {
        width: 300px;
    }
}

@media screen and (max-width: 1420px) {
    h1 {
        font-size: 20px;
    }
    h2 {
        font-size: 15px;
    }
    .description {
        font-size: 13px;
    }
    #hostingCity {
        width: 720px;
        height: 600px;
    }
    .hostingLinks {
        height: 200px;
        width: 200px;
    }
    #popularCity {
        height: 600px;
    }
    .popularLinks {
        height : 140px;
        width : 350px;
    }
    .activityLinks {
        width: 280px;
    }
}

/* Version tablette */

@media screen and (max-width: 1330px) {
    h1 {
        font-size: 23px;
    }
    h2 {
        font-size: 17px;
    }
    .description {
        font-size: 14px;
    }
    #hostingBox {
        flex-direction: column;
        height: 1525px;
    }
    #popularCity {
        order: 1;
        width: 100%;
        height: 300px;
    }
    #hostingCity {
        order: 2;
        height: 1200px;
        width: 100%;
        justify-self: center;
    }
    .hostingLinks {
        height: 300px;
        width: 45%;
        margin: 13px;
    }
    #popularLinksBox {
        display: flex;
        justify-content: space-between;
    }
    .popularLinks {
        height: 150px;
        width: 30%;
    }
    #activityBox {
        height: auto;
    }
    #activityCity {
        height: 100%;
        flex-direction: row;
        justify-content: center;
    }
    .activityLinks {
        width: 45%;
        height: 350px;
        margin: 13px;
    }
    .activityFocus {
        width: 100%;
        height: 350px;
    }
}

@media screen and (max-width: 1050px) {
    #hostingBox {
        height: auto;
    }
    #hostingCity {
        background-color: white;
    }
    #popularCity {
        height: auto;
    }
    #popularLinksBox {
        flex-wrap: wrap;
    }
    .popularLinks {
        height: 200px;
        width: 90%;
    }
}

@media screen and (max-width: 750px) {
    main {
        padding : 0px;
    }
    header, #mainBox, #activityBox {
        padding : 0px 35px;
    }
    #popularCity {
        border-radius: 0px;
    }
    footer {
        flex-direction: column;
    }
    .footerTheme {
        width: 50%;
    }
}

/******************************* Version Mobile *************************************/

@media screen and (max-width: 620px) {

    main, header, footer {
        min-width: 330px;
    }

    h1 {
        font-size: 18px;
    }

    h2 {
        font-size: 16px;
    }

    h3 {
        font-size: 17px;
    }

    .description {
        font-size: 14px;
    }

    /******************* HEADER *********************/
    header {
        height: 120px;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0px;
        margin-bottom: 10px;
    }

    #headerLogo {
        order: 1;
        margin: 0px 20px;
    }

    #navSignin {
        order: 2;
        margin: 0px 20px;
    }

    #navBar {
        order: 3;
        width: 100%;
        height: 50px;
    }

    .navLinks {
        height: 50px;
        line-height: 50px;
        border-bottom: solid 3px #F2F2F2;
    }

    .navLinks:hover {
        border-bottom: 3px solid #0065FC;
        border-top: none;
    }


    /******** Barre de recherche ******/
    #searchBar {
        width: 275px;
        position: relative;
    }

    #searchButton {
        display: none;
    }
    #searchInput {
        text-align: left;
        padding-left: 5px;
    }

    #loopButton {
        display: block;
        position: absolute;
        width: 50px;
        height: 50px;
        background-color: #0065FC;
        right: 0;
        border-radius: 20px;
    }

    #loopButton:hover {
        opacity: 0.8;
    }

    .fa-search {
        color: #F2F2F2;
    }

    /********** Barre de filtrage ***********/
    #filterTheme {
        width: 100%;
    }

    .filterTitle{
        font-size: 14px;
        padding: 10px 5px 10px 40px;
    }

    .filterButton {
        margin: 10px 5px;
    }

    .filterLogo {
        height: 40px;
        width: 40px;
    }

    .filterLogo::before {
        margin: 13px 0px 0px -10px;
    }

    /*********** Hébergement et Activités *************/
    .hostingLinks, .activityLinks {
        height: 200px;
        width: 100%;
    }

    #hostingCity , #activityCity, #popularCity{
        height: auto;
    }
    
    .popularLinks {
        height: 150px;
    }

    /************** Footer ***************/
    .footerTheme {
        width: 80%;
    }
}
