@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    --reserviablue: #0065FC ;
    --reservialightblue: #DEEBFF ;
    --reserviagrey: #F2F2F2 ;
}

/* Tout mettre à 0*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    list-style: none;
    background: none;
    border: none;
    color: black;
}

/* Tous les boutons ont l'effet cliquable lorsqu'on passe la souris dessus*/
button {
    cursor: pointer;
}

h1 {
    font-size: 23px;
}

h2 {
    font-size: 17px;
}

.description {
    font-size: 14px;
    margin: 5px 0px;
}

/* ------------------------------------------------- HEADER -------------------------------------------------------*/
header {
    display: flex;
    width: 100%;
    height: 100px;
    align-items: center;
}

/* Marge intérieure pour tout le site sauf le footer*/
main, header {
    padding: 0px 70px;
}

/* Taille du logo du Header */
#headerLogo {
    height: 45px;
    width: 97px;
    margin-right: auto;
}

/* Style du conteneur pour la barre de navigation*/
#navBar {
    display: flex;
    width: 300px;
    height: 100%;
}

/* Style des liens de navigations */
.navLinks {
    font-weight: 500;
    height: 100%;
    line-height: 100px;
    width: 50%;
    text-align: center;
}

/* Effets des liens de navigations au survol */
.navLinks:hover {
    color: var(--reserviablue);
    border-top: 2px solid var(--reserviablue); 
}

/* Style du lien pour l'inscription */
#navSignin {
    font-weight: bold;
    color: var(--reserviablue);
    width: 100px;
    text-align: center;
}

/* ---------------------------------------------------------- MAIN ------------------------------------------------------------- */

#hebergementBox {
    margin: 20px 0px;
    display: flex;
    justify-content: space-between;
}

#cityTitle {
    width: 100%;
    margin: 10px;
}

.containerStyle {
    display: flex;
    flex-wrap: wrap;
    border-radius: 25px;
    background-color: var(--reserviagrey);
}

#popularCity {
    padding: 30px;
    width: 450px;
    height: 800px;
    margin-left: 50px;
}

#hebergementCity {
    padding: 30px;
    width: 1260px;
    height: 800px;
}

.hebergementBorderStyle {
    overflow: hidden;
    border: 4px solid white;
    border-radius: 10%;
    position: relative;
}

.hebergementLinks {
    height: 300px;
    width: 380px;
    margin: 10px;
}

.descriptionBackground {
    position: absolute;
    background-color: white;
}

.hebergementDescriptionPos {
    width: 100%;
    height: 30%;
    bottom: 0;
    padding: 10px;
}

.hebergementImg {
    height: 80%;
    width: 100%;
    object-fit: cover;
}

#moreBtn {
    margin: 10px;
    font-size: 18px;
    font-weight: bolder;
}

#popularTitleBox {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

#popularLinksBox {
    height: 100%;
    width: 100%;
}

.popularLinks {
    display: flex;
    margin: 50px auto;
    height: 170px;
    width: 350px;
}

.popularImg {
    height: 100%;
    width: 50%;
}

.popularDescriptionPos {
    width: 60%;
    height: 100%;
    right: 0;
    padding: 10px;
}


/* --------------------- ACTIVITY ----------------------*/